@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-black;
  }

  .font-outline-1 {
    -webkit-text-stroke: 1px rgba(71, 31, 90, 0.243);
  }

  .dark .font-outline-1 {
    -webkit-text-stroke: 0px rgba(71, 31, 90, 0);
  }

  @font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro'), url('./../../../fonts/sofiapro-light.otf') format('opentype');
    font-display: fallback;
  }
 /* dancing-script-latin-wght-normal */
@font-face {
  font-family: 'Dancing Script Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/dancing-script:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.bruno-ace-regular {
  font-family: 'Bruno Ace', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.source-code-pro {
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

  .sofia-title {
    @apply text-transparent bg-clip-text font-outline-1 bg-gradient-to-b from-green-600 via-green-500 to-green-600;
  }
  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;
  }
}

#header.scroll {
  @apply shadow-md md:shadow-lg bg-black/70 md:backdrop-blur-sm dark:bg-slate-900 dark:md:bg-slate-900/90;
}

#cookieConsent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right,
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,1) 40%,
  rgba(0,0,0,1) 60%,
  rgba(0,0,0,0) 100%
);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  z-index: 1;
}

#cookieConsent button {
  color: black;
  border-radius: 50px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#acceptButton {
  background-color: #42ed80;
}

#declineButton {
  background-color: #42ed80;
}

.hero-bg {
  background: linear-gradient(to bottom,
  rgb(170, 162, 255) 0%,
  rgb(248, 244, 255) 3%,
  rgb(253, 253, 255) 5%,
  rgb(255, 255, 255) 100%
  )
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

iframe {
  margin: 0 auto;
}
